* {
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

button {
  background: none;
  border: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  height: 150px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
